body
{
    perspective: 1000px;
    transform-style: preserve-3d;
   
    
    
}
nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    padding-left: 20px;
    font-weight: bolder;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}


/* ======= Style OF Profile Page ======== */

main a.Orders
{
    text-decoration:none;
}
main a.EditProfile
{
    text-decoration:none;
}
main a.Transaction
{
    text-decoration:none;
    border:10cm;
    border-color: black;
}
main a.PromoCode
{
    text-decoration:none;
}

main div.Cell3
{
    margin: 0px 0px 0px 100px;
}
main div.Row1
{
    display:inline-flex;
}
main div.Row2
{
    display:inline-flex;
}
/* ===========  Style OF Transaction  =========== */
main th.Const
{
    font-size: 25px;
    color:grey;
    padding-right:5px;

}
main th.Var
{
    font-size: 20px;
    color:darkcyan;
    padding-right:75px;
    text-align: left;

}
main th.Fix
{
    font-size: 25px;
    color:mediumseagreen;
    padding-right:100px;
    background-color:darkcyan;
}
main table.TransactionB
{
    border: 5px solid darkcyan;
}

main tbody
{
    font-weight: 500;
    font-size: 25px;
    color:darkslategray;
    text-align: left;
}
main button
{
    background-color: #537fbe;
    text-align: left;
}

/* home page styles */
/* flash sale */
.slider
{
    border-radius: 20px;
    margin: 0 auto;
}

/* categories list*/
.cat-list
{
    
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    
    
    
}
.cat-list-items
{
    
    background-color: white;
    box-shadow: 0px 0px 5px gray;
    border-radius: 20px;
    border: 2px black;
    margin: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.cat-list-items > h1
{
    margin: 5%;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cat-list-items > img
{
    width: 90%;
    height: 80%;
    border-radius: 20px;
}
.cat-list-items:hover
{
    transform: scale(1.05,1.05)
}
/*
the styles of the cart page
*/
.page
{
    display: flex;
    
    
}
.cart
{
    flex:left;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    box-shadow: 0px 0px 5px gray;
    border-radius: 20px;
    
}
.cart-item
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px gray;
    margin: 10px;
}
.cart-item > img
{
    margin: 10px 10px 0;
    width: 90%;
    height: auto;
    border-radius: 20px;
}
.cart-item > button
{
    margin: 10px;
}
.side-menu
{
    margin-left: 10px;
    flex: right;
    width: 40%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px gray;
}