nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    padding-left: 20px;
    font-weight: bolder;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}


/* ======= Style OF Profile Page ======== */

main a.Orders
{
    text-decoration:none;
}
main a.EditProfile
{
    text-decoration:none;
}
main a.Transaction
{
    text-decoration:none;
    border:10cm;
    border-color: black;
}


main div.Cell3
{
    margin: 0px 0px 0px 100px;
}
main div.Row
{
    display:inline-flex;
}

/* ===========  Style OF Transaction  =========== */
main th.Const
{
    font-size: 25px;
    color:grey;
    padding-right:5px;

}
main th.Var
{
    font-size: 20px;
    color:darkcyan;
    padding-right:75px;
    text-align: left;

}
main th.Fix
{
    font-size: 25px;
    color:mediumseagreen;
    padding-right:100px;
    background-color:darkcyan;
}
main table.TransactionB
{
    border: 5px solid darkcyan;
}

main tbody
{
    font-weight: 500;
    font-size: 25px;
    color:darkslategray;
    text-align: left;
}