body
{
    perspective: 1000px;
    transform-style: preserve-3d;
}
nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    padding-left: 20px;
    font-weight: bolder;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}


/* ======= Style OF Profile Page ======== */

main a.Orders
{
    text-decoration:none;
}
main a.EditProfile
{
    text-decoration:none;
}
main a.Transaction
{
    text-decoration:none;
    border:10cm;
    border-color: black;
}
main a.PromoCode
{
    text-decoration:none;
}

main div.Cell3
{
    margin: 0px 0px 0px 100px;
}
main div.Row1
{
    display:inline-flex;
}
main div.Row2
{
    display:inline-flex;
}
/* ===========  Style OF Transaction  =========== */
main th.Const
{
    font-size: 25px;
    color:grey;
    padding-right:5px;

}
main th.Var
{
    font-size: 20px;
    color:darkcyan;
    padding-right:75px;
    text-align: left;

}
main th.Fix
{
    font-size: 25px;
    color:mediumseagreen;
    padding-right:100px;
    background-color:darkcyan;
}
main table.TransactionB
{
    border: 5px solid darkcyan;
}

main tbody
{
    font-weight: 500;
    font-size: 25px;
    color:darkslategray;
    text-align: left;
}
main button
{
    background-color: #537fbe;
    text-align: left;
}

/* home page styles */
/* flash sale */
.slider
{
   width: 100%;
   background-image: linear-gradient(rgba(0, 0, 0, 0.548));
}
.slider img
{
    width: 100%;
    
}

/* categories list*/
.cat-list
{
    
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.cat-list-items
{
    height: 400px;
    background-color: white;
    box-shadow: 0px 0px 5px gray;
    border-radius: 20px;
    border: 2px black;
    margin: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
    overflow: hidden;
}
.cat-list-items > h1
{
    margin: 5%;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cat-list-items img
{
    width: 90%;
    height: 80%;
    border-radius: 20px;
}
.cat-list-items:hover
{
    transform: scale(1.04,1.04)
}
/*
the styles of the cart page
*/

.cart
{
    padding: 1em;
    float: left;
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(400px, auto);
    grid-row-gap: auto;
    box-shadow: 0px 0px 5px gray;
    border-radius: 20px;
    
    
}
.cart-item
{
    height: 95%;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 20px;
    box-shadow: 0px 0px 5px gray;
    margin: 10px;
    
    
}
.cart-item > div
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
}
.cart-item .front
{
    z-index: 2;
    background-color: white;
    transition: all 0.5s ease;
    overflow: hidden;
}
.cart-item .front .image
{
    margin: 10px;
    height: 60%;
    border-radius: 20px;
    display: block;
   
}
.cart-item .front .image img
{
    height: 100%;
}
.cart-item .front > h1
{
    margin: 5%;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.cart-item .front > button
{
    margin: 10px;
}
.cart-item .front .buttons
{
    width: 100%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
}
.side-menu
{
    text-align: left;
    position: relative;
    float: right;
    width: 34%;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px gray;
    overflow: hidden;
}
.checked {
    color: orange;
  }
.side-menu > button
{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);

}
.side-menu > header , .payment header
{
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 1px 0px 1px gray;
    height: 30%;
    background-image: linear-gradient(120deg,rgb(161, 40, 121), orange);

}
.side-menu div
{
    font-size: 20px;
    margin: 2%;
}

.side-menu div div span:first-child
{
    float: left;
}
.side-menu div div span:last-child
{
    float: right;
}
.clear-float
{
    clear: both;
}
.descriptionShow
{
    background-color: rgba(70, 66, 60, 0.61);
    border-radius: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0%;
    color: white;
    overflow: hidden;
    transition: 0.5s all ease;
}
.descriptionShow div
{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cart-item .front:hover .descriptionShow
{
    height: 80%;
}
.cart-item-rotate 
{
    transition: all 0.5s ease;
    transform: rotateY(180deg);
}
/* back face - the card*/

.cart-item .back
{
    z-index: 1;
    background-color: white;
    border-radius: 20px;
    transform: rotateY(180deg);
    overflow: hidden;
}
.cart-item .back header
{
    width: 100%;
    height: 30%;
    background-image: linear-gradient(120deg,rgb(161, 40, 121), orange);
    font-size: 30px;
    line-height: 400%;
    color: white;
    text-shadow: 1px 0 1px gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;

}
.cart-item .back label
{
    font-size: large;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cart-item .back .col-10
{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.cart-item .back div:last-child
{
    position: relative;
    top: 20%;
}

.empty
{
    padding: 1em;
    float: left;
    width: 65%;
    height: 200px;
    line-height: 150px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 0px 5px gray;
    border-radius: 20px;
    
}
.payment
{
    position: relative;
    margin-top: 10px;
    float: right;
    box-shadow: 0px 0px 5px gray;
    border-radius: 20px;
    width: 34%;
    min-height: 20%;
    background-color: white;
    overflow: hidden;
}
.radioButtons
{
    margin: 10px;
   
}
.creditCard
{
    margin: 10px;
    position: relative;
    left: 50%;
    transform: translate(-27%);
}
.creditCard input
{
    display: block;
    margin: 5px;
}
.paymentButtons
{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 5px;
}
/* ciated from stackoverflow */
div.stars {
    width: 270px;
    display: inline-block;
  }
  
  input.star { display: none; }
  
  label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
  }
  
  input.star:checked ~ label.star:before {
    content: '\2605';
    color: #FD4;
    transition: all .25s;
  }
  
  input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }
  
  input.star-1:checked ~ label.star:before { color: #F62; }
  
  label.star:hover { transform: rotate(-15deg) scale(1.3); }
  
  label.star:before {
    content: '\2605';
  }