{% extends "layout.html" %}

{% block title %}
Category {{Category[0].CategoryName}}
{% endblock %}

{% block main %}
{% if Products|length < 1 %} <h1>No Items</h1>
    {% else %}

    <br>
    <div>
        <h4>
            {{Category[0].CategoryName}} Category 
        </h4>
    </div>
    <div class="container">
        <div class="row">
            {% for prod in Products %}
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="cat-list-items">
                    <div class="thumbnail">
                        <a href="/product?prodid={{prod.ProductID}} ">
                            <img src="{{prod.ImageURL}}" alt="..." width="300px" height="300px"
                                style="max-width:auto; max-height:auto;">
                        </a>
                        <div class="caption">
                            <h3>
                                <a href="/product?prodid={{prod.ProductID}} ">
                                    {{prod.ProductName}}
                                </a>
                            </h3>
                            {%if prod.ProductDescription%}
                            <p>{{prod.ProductDescription}}</p>
                            {%endif%}
                            <span>EGP <h5>{{prod.Price}}</h5></span>
                        </div>

                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    {% endif %}
    {% endblock %}