{% extends "layout.html" %}

{% block title %}
Category {{Category[0].CategoryName}}
{% endblock %}

{% block main %}
{% if Products|length < 1 %} <h1>No Items</h1>
    {% else %}

    <br>
    <div>
        <h4>
            {{Category[0].CategoryName}} Category 
        </h4>
    </div>
    <div class="container">
        <div class="row">
            {% for prod in Products %}
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <a href="/product?prodid={{prod.ProductID}} " style="text-decoration: none;">
                    <div class="cat-list-items">
                        <img src="{{prod.ImageURL}}" alt="...">
                        <h1 style="color: black;">
                            {{prod.ProductName}}
                        </h1>
                        <h5 style="color: black;">EGP {{prod.Price}}</h5>
                    </div>
                </a>
            </div>
            {%endfor%}
        </div>
    </div>
    {% endif %}
    {% endblock %}