{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
   <table class = "table table-striped">
       <thead>
       <tr>
           <th> Symbol </th>
           <th> Name </th>
           <th> Shares </th>
           <th> Price </th>
           <th> Total </th>
       </tr>
       </thead>
    <!-- {% for row in rows %}
       <tr>
           <td> {{row.symbol}} </td>
           <td> {{row.name}} </td>
           <td> {{row.shares}} </td>
           <td> {{row.price}} </td>
           <td> {{row.price}} </td>
       </tr>
    {% endfor %}
    <tr>
        <td colspan="4">Cash</td>
        {% for row in usercash %}
        <td> {{row.cash}} </td>
        {% endfor %}
    </tr>
    <tfoot>
        <td colspan="4"></td>
        <td>10000</td>
    </tfoot>
    </table> -->

{% endblock %}