{% extends "layout.html" %}

{% block title %}
Management
{% endblock %}

{% block main %}

<script>
    function CollapseManagement(elemid) {

        if (elemid != "CategoryEdit") {
            document.getElementById("CategoryEdit").className = "collapse hide";
        }
        if (elemid != "CategoryInsert") {
            document.getElementById("CategoryInsert").className = "collapse hide";
        }
        if (elemid != "CategoryDelete") {
            document.getElementById("CategoryDelete").className = "collapse hide";
        }
        if (elemid != "CategoryShow") {
            document.getElementById("CategoryShow").className = "collapse hide";
        }


        if (elemid != "SuppliersEdit") {
            document.getElementById("SuppliersEdit").className = "collapse hide";
        }
        if (elemid != "SuppliersInsert") {
            document.getElementById("SuppliersInsert").className = "collapse hide";
        }
        if (elemid != "SuppliersDelete") {
            document.getElementById("SuppliersDelete").className = "collapse hide";
        }
        if (elemid != "SuppliersShow") {
            document.getElementById("SuppliersShow").className = "collapse hide";
        }


        if (elemid != "ImportsEdit") {
            document.getElementById("ImportsEdit").className = "collapse hide";
        }
        if (elemid != "ImportsInsert") {
            document.getElementById("ImportsInsert").className = "collapse hide";
        }
        if (elemid != "ImportsDelete") {
            document.getElementById("ImportsDelete").className = "collapse hide";
        }
        if (elemid != "ImportsShow") {
            document.getElementById("ImportsShow").className = "collapse hide";
        }


        if (elemid != "ProductsEdit") {
            document.getElementById("ProductsEdit").className = "collapse hide";
        }
        if (elemid != "ProductsInsert") {
            document.getElementById("ProductsInsert").className = "collapse hide";
        }
        if (elemid != "ProductsDelete") {
            document.getElementById("ProductsDelete").className = "collapse hide";
        }
        if (elemid != "ProductsShow") {
            document.getElementById("ProductsShow").className = "collapse hide";
        }


        if (elemid != "SaleEdit") {
            document.getElementById("SaleEdit").className = "collapse hide";
        }
        if (elemid != "SaleInsert") {
            document.getElementById("SaleInsert").className = "collapse hide";
        }
        if (elemid != "SaleDelete") {
            document.getElementById("SaleDelete").className = "collapse hide";
        }
        if (elemid != "SaleShow") {
            document.getElementById("SaleShow").className = "collapse hide";
        }

        date = new Date();
        date = date.toLocaleDateString();
        document.getElementById("ImportDateInsert").value=date;
    }
</script>



<div class="container px-4 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row gx-5">
        <div class="col ">
            <div class="shadow-lg p-3 mb-3 bg-white rounded" style="font-weight: bold; font-size: large;">Categories
            </div>
            <div class="mb-3">
                <button type="button" class="btn-success rounded" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#CategoryEdit" aria-expanded="false"
                    aria-controls="CategoryEdit" onclick=CollapseManagement("CategoryEdit")> Edit </button>
                <button type="button" class="btn-primary rounded" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#CategoryInsert" aria-expanded="false"
                    aria-controls="CategoryInsert" onclick=CollapseManagement("CategoryInsert")> Insert </button>
                <button type="button" class="btn-danger rounded" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#CategoryDelete" aria-expanded="false"
                    aria-controls="CategoryDelete" onclick=CollapseManagement("CategoryDelete")> Delete </button>
                <button type="button" class="btn-warning rounded mt-2" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#CategoryShow" aria-expanded="false"
                    aria-controls="CategoryShow" onclick=CollapseManagement("CategoryShow")> Show </button>
            </div>
        </div>
        <div class="col ">
            <div class="shadow-lg p-3 mb-3 bg-white rounded" style="font-weight: bold; font-size: large;">Suppliers
            </div>
            <div class="mb-3">
                <button type="button" class="btn-success rounded" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#SuppliersEdit" aria-expanded="false"
                    aria-controls="SuppliersEdit" onclick=CollapseManagement("SuppliersEdit")> Edit </button>
                <button type="button" class="btn-primary rounded" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#SuppliersInsert" aria-expanded="false"
                    aria-controls="SuppliersInsert" onclick=CollapseManagement("SuppliersInsert")> Insert </button>
                <button type="button" class="btn-danger rounded" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#SuppliersDelete" aria-expanded="false"
                    aria-controls="SuppliersDelete" onclick=CollapseManagement("SuppliersDelete")> Delete </button>
                <button type="button" class="btn-warning rounded mt-2" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#SuppliersShow" aria-expanded="false"
                    aria-controls="SuppliersShow" onclick=CollapseManagement("SuppliersShow")> Show </button>
            </div>
        </div>
        <div class="col ">
            <div class="shadow-lg p-3 mb-3 bg-white rounded" style="font-weight: bold; font-size: large;">Imports</div>
            <div class="mb-3">
                <button type="button" class="btn-success rounded" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#ImportsEdit" aria-expanded="false"
                    aria-controls="ImportsEdit" onclick=CollapseManagement("ImportsEdit")> Edit </button>
                <button type="button" class="btn-primary rounded" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#ImportsInsert" aria-expanded="false"
                    aria-controls="ImportsInsert" onclick=CollapseManagement("ImportsInsert")> Insert </button>
                <button type="button" class="btn-danger rounded" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#ImportsDelete" aria-expanded="false"
                    aria-controls="ImportsDelete" onclick=CollapseManagement("ImportsDelete")> Delete </button>
                <button type="button" class="btn-warning rounded mt-2" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#ImportsShow" aria-expanded="false"
                    aria-controls="ImportsShow" onclick=CollapseManagement("ImportsShow")> Show </button>
            </div>
        </div>
        <div class="col ">
            <div class="shadow-lg p-3 mb-3 bg-white rounded" style="font-weight: bold; font-size: large;">Products</div>
            <div class="mb-3">
                <button type="button" class="btn-success rounded" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#ProductsEdit" aria-expanded="false"
                    aria-controls="ProductsEdit" onclick=CollapseManagement("ProductsEdit")> Edit </button>
                <button type="button" class="btn-primary rounded" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#ProductsInsert" aria-expanded="false"
                    aria-controls="ProductsInsert" onclick=CollapseManagement("ProductsInsert")> Insert </button>
                <button type="button" class="btn-danger rounded" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#ProductsDelete" aria-expanded="false"
                    aria-controls="ProductsDelete" onclick=CollapseManagement("ProductsDelete")> Delete </button>
                <button type="button" class="btn-warning rounded mt-2" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#ProductsShow" aria-expanded="false"
                    aria-controls="ProductsShow" onclick=CollapseManagement("ProductsShow")> Show </button>
            </div>
        </div>
        <div class="col ">
            <div class="shadow-lg p-3 mb-3 bg-white rounded" style="font-weight: bold; font-size: large;">Sale</div>
            <div class="mb-3">
                <button type="button" class="btn-success rounded" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#SaleEdit" aria-expanded="false" aria-controls="SaleEdit"
                    onclick=CollapseManagement("SaleEdit")> Edit </button>
                <button type="button" class="btn-primary rounded" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#SaleInsert" aria-expanded="false"
                    aria-controls="SaleInsert" onclick=CollapseManagement("SaleInsert")> Insert </button>
                <button type="button" class="btn-danger rounded" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#SaleDelete" aria-expanded="false"
                    aria-controls="SaleDelete" onclick=CollapseManagement("SaleDelete")> Delete </button>
                <button type="button" class="btn-warning rounded mt-2" style="width: 90px; text-align: center;"
                    data-bs-toggle="collapse" data-bs-target="#SaleShow" aria-expanded="false"
                    aria-controls="SaleShow" onclick=CollapseManagement("SaleShow")> Show </button>
            </div>
        </div>
    </div>
</div>


<div class="shadow-lg p-3 mb-5 bg-white rounded">

    <div class="collapse multi-collapse" id="CategoryEdit">
        <form action="/management" method="post">

            <div class="mb-3">
                <select class="form-control" name="selectCategoryEdit">
                    <option disabled selected value> Select Category </option>
                    {% for category in categories %}
                    <option>{{category.CategoryName}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <input class="form-control" name="CatNameEdit" placeholder="New Category Name" type="text">
            </div>

            <div class="mb-3">
                <input class="form-control" name="CatURLEdit" placeholder="New Category Image URL" type="text">
            </div>

            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="collapse multi-collapse" id="CategoryInsert">
        <form action="/management" method="post">

            <div class="mb-3">
                <input class="form-control" name="CatNameInsert" placeholder="Category Name" type="text">
            </div>

            <div class="mb-3">
                <input class="form-control" name="CatURLInsert" placeholder="Category Image URL" type="text">
            </div>

            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="collapse multi-collapse" id="CategoryDelete">
        <form action="/management" method="post">

            <div class="mb-3">
                <select class="form-control" name="selectCategoryDelete">
                    <option disabled selected value> Select Category </option>
                    {% for category in categories %}
                    <option>{{category.CategoryName}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="collapse multi-collapse" id="CategoryShow">
        <form action="/management" method="post">
            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="collapse multi-collapse" id="SuppliersEdit">
        <form action="/management" method="post">
            <div class="mb-3">
                <select class="form-control" name="selectSupplierEdit">
                    <option disabled selected value> Select Supplier </option>
                    {% for supplier in suppliers %}
                    <option>{{supplier.SupplierName}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <input class="form-control" name="SupplierNameEdit" placeholder="New Supplier Name" type="text">
            </div>

            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>

        <form class="mt-5" action="/management" method="post">
            <div class="mb-3">
                <select class="form-control" name="selectSupLocEdit">
                    <option disabled selected value> Select Location of Supplier </option>
                    {% for location in suplocations %}
                    <option>{{location.SupplierName}}, {{location.SupplierLocation}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <input class="form-control" name="SupLocEdit" placeholder="New Location" type="text">
            </div>

            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="collapse multi-collapse" id="SuppliersInsert">
        <form action="/management" method="post">
            <div class="mb-3">
                <input class="form-control" name="SupplierNameInsert" placeholder="Supplier Name" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>

        <form class="mt-5" action="/management" method="post">
            <div class="mb-3">
                <select class="form-control" name="selectSupplierInsert">
                    <option disabled selected value> Select Supplier </option>
                    {% for supplier in suppliers %}
                    <option>{{supplier.SupplierName}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <input class="form-control" name="SupplierLocInsert" placeholder="Location" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="collapse multi-collapse" id="SuppliersDelete">
        <form action="/management" method="post">
            <div class="mb-3">
                <select class="form-control" name="selectSupplierDelete">
                    <option disabled selected value> Select Supplier </option>
                    {% for supplier in suppliers %}
                    <option>{{supplier.SupplierName}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>

        <form class="mt-5" action="/management" method="post">
            <div class="mb-3">
                <select class="form-control" name="selectSupLocDelete">
                    <option disabled selected value> Select Location of Supplier </option>
                    {% for location in suplocations %}
                    <option>{{location.SupplierName}}, {{location.SupplierLocation}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>

    </div>

    <div class="collapse multi-collapse" id="SuppliersShow">
        <form action="/management" method="post">
            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="collapse multi-collapse" id="ImportsEdit">
        <form action="/management" method="post">

            <div class="mb-3">
                <select class="form-control" name="ImportsEdit">
                    <option disabled selected value> Select Import </option>
                    {% for import in imports %}
                    <option>{{import.SupplierName}}, {{import.ProductName}}, {{import.DateImported}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <input class="form-control" name="ImportPriceEdit" placeholder="Product Price" type="number" step="0.01" min="0">
            </div>

            <div class="mb-3">
                <input class="form-control" name="ImportQuanEdit" placeholder="Product Quantity" type="number" step="1" min="0">
            </div>

            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="collapse multi-collapse" id="ImportsInsert">
        <form action="/management" method="post">

            <div class="mb-3">
                <select class="form-control" name="ImportSupInsert">
                    <option disabled selected value> Select Supplier </option>
                    {% for supplier in suppliers %}
                    <option>{{supplier.SupplierName}}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="mb-3">
                <select class="form-control" name="ImportProdInsert">
                    <option disabled selected value> Select Product </option>
                    {% for product in products %}
                    <option>{{product.ProductName}}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="mb-3">
                <input class="form-control" name="ImportPriceInsert" placeholder="Product Price" type="number" step="0.01" min="0">
            </div>

            <div class="mb-3">
                <input class="form-control" name="ImportQuanInsert" placeholder="Product Quantity" type="number" step="1" min="0">
            </div>

            <input type="hidden" id = "ImportDateInsert" name = "ImportDateInsert">

            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="collapse multi-collapse" id="ImportsDelete">
        <form action="/management" method="post">

            <div class="mb-3">
                <select class="form-control" name="ImportDelete">
                    <option disabled selected value> Select Import </option>
                    {% for import in imports %}
                    <option>{{import.SupplierName}}, {{import.ProductName}}, {{import.DateImported}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="collapse multi-collapse" id="ImportsShow">
        <form action="/management" method="post">
            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="collapse multi-collapse" id="ProductsEdit">
        <form action="/management" method="post">

            <div class="mb-3">
                <select class="form-control" name="SelectProdEdit">
                    <option disabled selected value> Select Product </option>
                    {% for product in products %}
                    <option>{{product.ProductName}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <input class="form-control" name="ProdNameEdit" placeholder="Product Name" type="text">
            </div>

            <div class="mb-3">
                <input class="form-control" name="ProdDescEdit" placeholder="Product Description" type="text">
            </div>

            <div class="mb-3">
                <input class="form-control" name="ProdURLEdit" placeholder="Image URL" type="text">
            </div>

            <div class="mb-3">
                <input class="form-control" name="ProdPriceEdit" placeholder="Product Price" type="number" step="0.01" min="0">
            </div>

            <div class="mb-3">
                <input class="form-control" name="ProdQuantityEdit" placeholder="Product Quantity" type="number" step="1" min="0">
            </div>

            <div class="mb-3">
                <select class="form-control" name="ProdCatEdit">
                    <option disabled selected value> Select Category </option>
                    {% for category in categories %}
                    <option>{{category.CategoryName}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <select class="form-control" name="ProdSupEdit">
                    <option disabled selected value> Select Supplier </option>
                    {% for supplier in suppliers %}
                    <option>{{supplier.SupplierName}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="collapse multi-collapse" id="ProductsInsert">
        <form action="/management" method="post">

            <div class="mb-3">
                <input class="form-control" name="ProdNameInsert" placeholder="Product Name" type="text">
            </div>

            <div class="mb-3">
                <input class="form-control" name="ProdDescInsert" placeholder="Product Description" type="text">
            </div>

            <div class="mb-3">
                <input class="form-control" name="ProdPriceInsert" placeholder="Product Price" type="number" step="0.01" min="0">
            </div>

            <div class="mb-3">
                <input class="form-control" name="ProdURLInsert" placeholder="Image URL" type="text">
            </div>

            <div class="mb-3">
                <select class="form-control" name="ProdCatInsert">
                    <option disabled selected value> Select Category </option>
                    {% for category in categories %}
                    <option>{{category.CategoryName}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <select class="form-control" name="ProdSupInsert">
                    <option disabled selected value> Select Supplier </option>
                    {% for supplier in suppliers %}
                    <option>{{supplier.SupplierName}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="collapse multi-collapse" id="ProductsDelete">
        <form action="/management" method="post">
            <div class="mb-3">
                <select class="form-control" name="SelectProdDelete">
                    <option disabled selected value> Select Product </option>
                    {% for product in products %}
                    <option>{{product.ProductName}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="collapse multi-collapse" id="ProductsShow">
        <form action="/management" method="post">
            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="collapse multi-collapse" id="SaleEdit">
        <form action="/management" method="post">
            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="collapse multi-collapse" id="SaleInsert">
        <form action="/management" method="post">
            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="collapse multi-collapse" id="SaleDelete">
        <form action="/management" method="post">
            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="collapse multi-collapse" id="SaleShow">
        <form action="/management" method="post">
            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Management Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>


</div>

{% endblock %}