{% extends "layout.html" %}

{% block title %}
Management
{% endblock %}

{% block main %}
<div class="container px-4 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row gx-5">
        <div class="col ">
            <div class="shadow-lg p-3 mb-3 bg-white rounded" style="font-weight: bold; font-size: large;">Categories</div>
            <div class="mb-3">
                 <button type="button" class="btn-success rounded" style="width: 60px; text-align: center;"> Edit </button>
                 <button type="button" class="btn-primary rounded" style="width: 60px; text-align: center;"> Insert </button>
                 <button type="button" class="btn-danger rounded" style="width: 60px; text-align: center;"> Delete </button>
            </div>
        </div>
        <div class="col ">
            <div class="shadow-lg p-3 mb-3 bg-white rounded" style="font-weight: bold; font-size: large;">Suppliers</div>
            <div class="mb-3">
                 <button type="button" class="btn-success rounded" style="width: 60px; text-align: center;"> Edit </button>
                 <button type="button" class="btn-primary rounded" style="width: 60px; text-align: center;"> Insert </button>
                 <button type="button" class="btn-danger rounded" style="width: 60px; text-align: center;"> Delete </button>
            </div>
        </div>
        <div class="col ">
            <div class="shadow-lg p-3 mb-3 bg-white rounded" style="font-weight: bold; font-size: large;">Imports</div>
            <div class="mb-3">
                 <button type="button" class="btn-success rounded" style="width: 60px; text-align: center;"> Edit </button>
                 <button type="button" class="btn-primary rounded" style="width: 60px; text-align: center;"> Insert </button>
                 <button type="button" class="btn-danger rounded" style="width: 60px; text-align: center;"> Delete </button>
            </div>
        </div>
        <div class="col ">
            <div class="shadow-lg p-3 mb-3 bg-white rounded" style="font-weight: bold; font-size: large;">Products</div>
            <div class="mb-3">
                 <button type="button" class="btn-success rounded" style="width: 60px; text-align: center;"> Edit </button>
                 <button type="button" class="btn-primary rounded" style="width: 60px; text-align: center;"> Insert </button>
                 <button type="button" class="btn-danger rounded" style="width: 60px; text-align: center;"> Delete </button>
            </div>
        </div>
        <div class="col ">
            <div class="shadow-lg p-3 mb-3 bg-white rounded" style="font-weight: bold; font-size: large;">Sale</div>
            <div class="mb-3">
                 <button type="button" class="btn-success rounded" style="width: 60px; text-align: center;"> Edit </button>
                 <button type="button" class="btn-primary rounded" style="width: 60px; text-align: center;"> Insert </button>
                 <button type="button" class="btn-danger rounded" style="width: 60px; text-align: center;"> Delete </button>
            </div>
        </div>
    </div>
</div>


<div class="shadow-lg p-3 mb-5 bg-white rounded">

</div>

{% endblock %}