{% extends "layout.html" %}

{% block title %}
Product
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-3">
        <img src="{{Product[0].ImageURL}}">
    </div>
    <div class="col-6">
        <h1>
            {{Product[0].ProductName}}
        </h1>
        <h2>
            
            {%if Product[0].PrductDescription%}
            Product Description
            {{Product[0].ProductDescription}}
            {%endif%}
        </h2>
    </div>
    <div class="col-3">
        <h4>Price: {{Product[0].Price}} EGP</h4>
        {% if Product[0].Rating%}
        <h4>Rating: {{Product[0].Rating}}</h4>
        {%endif%}
        {%if Product[0].Quantity%}
        In Stock
        {%endif%}
        {%if ok%}
        <div>
            <button disabled>Added Successfully</button>
        </div>
        {%else%}
        <p><a href="/product?addedtocart=1&prodid={{Product[0].ProductID}}" class="btn btn-primary" role="button">
            Add to Cart
        </a></p>
        {%if you_have_to_login%}
        <div>
            <span style="color:red">You have to login to add to cart</span>
        </div>
        {%endif%}
        {%endif%}
    </div>

 {% endblock %}