{% extends "layout.html" %}

{% block title %}
Product
{% endblock %}

{% block main %}
<div class="row">
    <!-- <div class="col-3"></div> -->
    <div class="col-lg-4">
        <img src="{{Product[0].ImageURL}}">
    </div>
    <div class="col-lg-4">
        <h4>
            <br><br>
            <div >
                {{Product[0].ProductName}}
            </div>
        </h4>
        <h6>

            {%if Product[0].ProductDescription%}
            <div class="text"style="padding-top:50px;">
                Product Description:
                <h5><p>{{Product[0].ProductDescription}}</p></h5>
            </div>
            {%endif%}
        </h6>
    </div>
    <div class="col-lg-4">

        <br><br><br>
        {%if not sale%}
        <h4> {{Product[0].Price}} EGP</h4>
        {%else%}
        <del> {{Product[0].Price}} EGP</del>
        <h4 style="color: darkcyan;">
            {{new_price}} EGP
        </h4>
        <h5 style="color:red;">
            SALE {{sale[0]['SalePercentage']}} %
        </h5>
        {%endif%}
        <br>
        {%if Product[0].Quantity%}
        <div style="color:green;">
            In Stock
        </div>
        <br>
        <br>
        {%endif%}
        {%if ok1%}
        <div>
            <button disabled>Added to cart</button>
        </div>
        {%else%}
        <div>
            <div>
                <form action="/product" method="post">
                    <input type="hidden" name="ProductID-addtocart" value="{{ Product[0].ProductID}}" />
                    <input type="number" name="quantity" min="1" placeholder="0" style="width: 50px; margin-top: 5px;" required />
                    <button class="btn btn-sm btn-primary" type="submit">Add to Cart</button>
                    {%if message1%}
                    <br>
                    <span style="color:red">{{message1}}</span>
                    {%endif%}
                </form>
            </div>
            {%endif%}
            <br>

            {%if ok2%}
            <div>
                <button disabled>Added to wishlist</button>
            </div>
            {%else%}
            <div>
                <form action="/product?prodid={{ Product[0].ProductID}}" method="post">
                    <input type="hidden" name="ProductID-addtowishlist" value="{{ Product[0].ProductID}}" />
                    <button class="btn btn-sm btn-primary" type="submit">Add to Wishlist</button>
                    {%if message2%}
                    <br>
                    <span style="color:red">{{message2}}</span>
                    {%endif%}
                </form>
            </div>
        </div>
        {%endif%}
        <br>
        <br>
        <div>
            Total Rating:
            {%if not current_rating%}
            {%for i in range(5)%}
            <span class="fa fa-star"></span>
            {%endfor%}
            0 ratings
            {%else%}
            {%for i in range(current_rating|int)%}
            <span class="fa fa-star checked"></span>
            {%endfor%}
            {%for i in range(5-(current_rating|int))%}
            <span class="fa fa-star"></span>
            {%endfor%}
            {{current_rating}} 
            <br>
            {{number_of_rates}} rates
            {%endif%}
        </div>
        {%if session.user_id%}
        <div>
            Your rating:
        </div>
        <div>
            <div class="stars">
                <form action="/product" method="GET">
                    <input type="hidden" value="{{ Product[0].ProductID}}" name="prodid">
                  <input class="star star-5" id="star-5" type="radio" onclick="javascript:submit()" value="5" name="star"/>
                  <label class="star star-5" for="star-5"></label>
                  <input class="star star-4" id="star-4" type="radio" onclick="javascript:submit()" value="4" name="star"/>
                  <label class="star star-4" for="star-4"></label>
                  <input class="star star-3" id="star-3" type="radio" onclick="javascript:submit()"  value="3" name="star"/>
                  <label class="star star-3" for="star-3"></label>
                  <input class="star star-2" id="star-2" type="radio" onclick="javascript:submit()"  value="2" name="star"/>
                  <label class="star star-2" for="star-2"></label>
                  <input class="star star-1" id="star-1" type="radio" onclick="javascript:submit()"  value="1" name="star"/>
                  <label class="star star-1" for="star-1"></label>
                </form>
              </div>
        </div>
        {%endif%}
    </div>

    {% endblock %}