{% extends "emplayout.html" %}

{% block title %}
    Add Employee
{% endblock %}

{% block main %}
    <form action="/register" method="post" >
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control" name="confirmation" placeholder="Confirm your Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control" name="name" placeholder="Name" type="text">
        </div>  
        <button class="btn btn-primary" type="submit">Add Employee</button>
    </form>
{% endblock %}