{% extends "layout.html" %}

{% block title %}
Search Results
{% endblock %}

{% block main %}
{% if Products|length < 1 %} <h1>No Results Found</h1>
    {% else %}

    <h1>Search Results</h1>
    <form class="d-flex" method="POST" action="{{ url_for('search') }}" style="padding-right: 20px;">
        <div class="col-md">
        </div>
        <div class="col-md-3">

            <div class="form-group">
                <div class="input-group">
                    <input type="hidden" name="search_for" value="{{ search_for }}">
                    <select name="sortby" aria-labelledby="dropdownMenuButton">
                        <option value="" disabled selected>Sort By</option>
                        <option value="Price(Low-High)">Price(Low-High)</option>
                        <option value="Price(High-Low)">Price(High-Low)</option>
                        <option value="Rating (5-1)">Rating (5-1)</option>
                        <option value="Date (new first)">Date (new first)</option>
                    </select>
                    <div style="padding-left: 20px;">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>

                <th> Image</th>
                <th> Product Name</th>
                <th> Product Description </th>
                <th> Price </th>
                <th> Rating </th>
                <th> Product ID </th>
                <th> Quantity </th>
                <th> In Stock </th>
                <th> Supplier ID </th>
                <th> Category ID </th>
            </tr>
        </thead>
        {% for prod in Products %}
        <tr>
            <td><img src="{{prod.ImageURL}}" style="max-width:300px; max-height:200px;"></td>
            <td>
                    <a href="/product?prodid={{prod.ProductID}} ">
                        {{prod.ProductName}}
                    </a>
            </td>
            <td>{{prod.ProductDescription}}</td>
            <td>{{prod.Price}}</td>
            <td>{{prod.Rating}}</td>
            <td>{{prod.ProductID}}</td>
            <td>{{prod.Quantity}}</td>
            <td>{{prod.InStock}}</td>
            <td>{{prod.SupplierID}}</td>
            <td>{{prod.CategoryID}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endblock %}