{% extends "layout.html" %}

{% block title %}
Search Results
{% endblock %}

{% block main %}
{% if Products|length < 1 %} <h1>No Results Found</h1>
    {% else %}

    <h1>Search Results</h1>
    <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Sort By
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/search?search_for={{search_for}}&sortby=Price(Low-High)">Price(Low-High)</a></li>
                <li><a class="dropdown-item" href="/search?search_for={{search_for}}&sortby=Price(High-Low)">Price(High-Low)</a></li>
                <li><a class="dropdown-item" href="/search?search_for={{search_for}}&sortby=Rating (5-1)">Rating (5-1)</a></li>
                <li><a class="dropdown-item" href="/search?search_for={{search_for}}&sortby=Date (new first)">Date (new first)</a></li>
            </ul>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>

                <th> Image</th>
                <th> Product Name</th>
                <th> Product Description </th>
                <th> Price </th>
                <th> Rating </th>
                <th> Product ID </th>
                <th> Quantity </th>
                <th> In Stock </th>
                <th> Supplier ID </th>
                <th> Category ID </th>
            </tr>
        </thead>
        {% for prod in Products %}
        <tr>
            <td><img src="{{prod.ImageURL}}" style="max-width:300px; max-height:200px;"></td>
            <td>
                <a href="/product?prodid={{prod.ProductID}} ">
                    {{prod.ProductName}}
                </a>
            </td>
            <td>{{prod.ProductDescription}}</td>
            <td>{{prod.Price}}</td>
            <td>{{prod.Rating}}</td>
            <td>{{prod.ProductID}}</td>
            <td>{{prod.Quantity}}</td>
            <td>{{prod.InStock}}</td>
            <td>{{prod.SupplierID}}</td>
            <td>{{prod.CategoryID}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endblock %}