{% extends "layout.html" %}

{% block title %}
Search Results
{% endblock %}

{% block main %}
{% if Products|length < 1 %} <h1>No Results Found</h1>
    {% else %}

    <h1>Search Results</h1>
    <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md-3">
            <a class="nav-link dropdown-toggle" href="#" id="sortDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Sort By
            </a>
            <ul class="dropdown-menu" aria-labelledby="sortDropdownMenuLink">
                <li><a class="dropdown-item"
                        href="/search?search_for={{search_for}}&sortby=Price(Low-High)">Price(Low-High)</a></li>
                <li><a class="dropdown-item"
                        href="/search?search_for={{search_for}}&sortby=Price(High-Low)">Price(High-Low)</a></li>
                <li><a class="dropdown-item" href="/search?search_for={{search_for}}&sortby=Rating (5-1)">Rating
                        (5-1)</a></li>
                <li><a class="dropdown-item" href="/search?search_for={{search_for}}&sortby=Date (new first)">Date (new
                        first)</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <!-- {% for prod in Products %}
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <a href="/product?prodid={{prod.ProductID}} " style="text-decoration: none;">
                    <div class="cat-list-items">
                        <img src="{{prod.ImageURL}}" alt="...">
                        <h1 style="color: black;">
                            {{prod.ProductName}}
                        </h1>
                        <h5 style="color: black;">EGP {{prod.Price}}</h5>
                    </div>
                </a>
            </div>
            {%endfor%} -->
            {%for i in range(Products|length)%}
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <a href="/product?prodid={{Products[i]['ProductID']}} " style="text-decoration: none;">
                    <div class="cat-list-items">
                        <div>
                            {%if not Products[i]['Rating']%}
                            {%for j in range(5)%}
                            <span class="fa fa-star"></span>
                            {%endfor%}
                            0 ratings
                            {%else%}
                            {%for j in range(Products[i]['Rating']|int)%}
                            <span class="fa fa-star checked"></span>
                            {%endfor%}
                            {%for j in range(5-(Products[i]['Rating']|int))%}
                            <span class="fa fa-star"></span>
                            {%endfor%}
                            {{Products[i]['Rating']|float}}
                            <br>
                            {{number_of_rates}} rates
                            {%endif%}
                        </div>
                        <div>
                            {{sale[i]['SalePercentage']}}
                            {%if not sale[i]%}
                            <h4 style="color: black;"> {{Products[i]['Price']}} EGP</h4>
                            {%else%}
                            <del style="color: black;"> {{Products[i]['Price']}} EGP</del>
                            <h4 style="color: darkcyan;">
                                {{new_price[i]}} EGP
                            </h4>
                            <h5 style="color:red;">
                                SALE {{sale[i]['SalePercentage']}} %
                            </h5>
                            {%endif%}
                        </div>
                        <img src="{{Products[i]['ImageURL']}}" alt="...">
                        <h1 style="color: black;">
                            {{Products[i]['ProductName']}}
                        </h1>
                       
                    </div>
                </a>
            </div>
            {%endfor%}
        </div>
    </div>
    {% endif %}
    {% endblock %}